

*{
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header{
  height:100vh;
   background-color: #111111;
}

nav{
  /* border:1px solid white; */
  display:flex;
  flex-direction: row;
  height:15%;
  
  align-items: center;
  width:80%;
  justify-content: space-between;
  margin:0px auto;
}
nav .logo{
   /* border:1px solid white; */
  color:#E6533C;
  font-size: 25px;
  font-weight: 900;
}

.nav-items{
   /* border:1px solid white; */
  width:50%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  cursor:pointer;
  align-items: center;

}


.nav-items li{
  color:white;
}


.nav-items li button{
  color:white;
  background-color: #E6533C;
  border:none;
  height:30px;
  width:60px;
  border-radius: 20px;
  cursor:pointer;
  transition: transform 0.2s ease-in;
}

.nav-items li button:hover{
  transform:scale(1.03);
}

.hero{
 
  height:78vh;
  display:flex;
  width:80%;
  margin:0px auto;
 
  gap:5%;
}
.hero .banner-text{
  margin-top: 5%;
  
  width:60%;
}
.hero .banner-text .banner-text-heading{
  color:aliceblue;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 2%;
}
.hero .banner-text .banner-text-para{
 
  line-height: 20px;
  margin-bottom: 2%;
  color:rgba(252, 252, 252, 0.5)
}

.hero .banner-image{
  
  width:35%;
  height:100%;
}
.hero .banner-image img{
  width:100%;
  height:100%;
}
.banner-text-button-container{

  height: 10%;
  display:flex;
  gap:10px;
}

.banner-text-button-container .btn1{
  background-color: #E6533C;
  width:30%;
  border:none;
  color:aliceblue;
  font-weight: 600;
  border-radius: 20px;
  cursor:pointer;
}
.banner-text-button-container .btn2{
  background: transparent;
  border :1px solid white;
  width:30%;
  
  color:aliceblue;
  font-weight: 600;
  border-radius: 20px;
  cursor:pointer;
}
.banner-text-button-container .btn2:hover, .banner-text-button-container .btn1:hover{
  background-color: aliceblue;
  color: #111111;
}

.card1 , .card2{
  height:100px;
  width:200px;
   background: rgba(95, 94, 94, 0.45);   /* semi-transparent */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  position:absolute;
  z-index: 1;
  color:aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.card1{
  right:90px;
  
}

.card2{
  bottom:50px;
  right: 350px;
}

@media  screen and (max-width:576px) {
  .nav-items{
    display: none;
  }
  .hero{
    flex-direction: column;
    gap:0px;
  }

  .hero .banner-text{
    width:100%;
    height:50%;
    flex-direction: column;
    
   
  }
 .banner-text-button-container{
  margin-top: 5%;
 justify-content: space-around;
 }

  .hero .banner-image{
    height: 50%;
    margin:00px auto;
    width:50%;
  }
  .card2{
    height: 7%;
    width:30%;
    bottom:10%;
    left:10%;
    border-radius: 10px;
  }
  .card1{
    height: 7%;
    width:30%;
    bottom:30%;
    border-radius: 10px;
  }
}

